 @{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}

<div class="text-center mt-5">
    <h1 class="text-danger">¡Error!</h1>
    <h2 class="text-danger">Ha ocurrido un error al procesar su solicitud.</h2>
    <div class="mt-4">
        <p class="lead">Por favor, comuníquese con el administrador del sistema.</p>
    </div>
</div>